:root {
  --baseColor: #606468;
  --iconFill: var(--baseColor);
  --loginSubmitBackgroundColor: #ea4c88;
  --loginSubmitHoverBackgroundColor: #d44179;
  --loginSubmitColor: #eee;
  --bgDark: #2c3338;
  --bgMedium: #3b4148;
  --textLight: #eee;
}