@font-face {
  font-family: 'Aesthetic';
  src: url('../assets/aesthetic_moment/Aesthetic\ Moment\ \ Italic\ Personal\ Used.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Apply to all headings */
h1, h2, h3, h4, h5, h6, .title, .navbar-brand {
  font-family: 'Aesthetic', 'Open Sans', sans-serif;
  letter-spacing: 1px;
}